@import "~bootstrap/scss/bootstrap";

.content-container{
    padding: 100px 20px 100px 20px;
    min-height: calc(100vh - 56px);
}

button.btn {
    &.btn-secondary,
    &.btn-secondary:hover { 
        color: #000;
        background-color: #a6aaad;
    }
    &.btn-link {
        color: #000;
        text-decoration: none;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}
